@model ProductStore.Repository.Models.Product
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm("New", "Product"))
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <input type="submit" />
}
